@model IEnumerable<Test.Domain.Entities.Transaction>

@{
    ViewBag.Title = "Transactions";
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        @using (Html.BeginForm("TransactionList", "Home", FormMethod.Get))
        {
            <div class="form-row">
                @Html.Editor("searching", new { htmlAttributes = new { @class = "form-control", @type = "text", @style = "width:50% !important; min-width:200px !important", placeholder = "Transaction Number" } })
                <button class="btn btn-info" type="submit" value="Search"><i class="fas fa-search"></i></button>
            </div>
        }
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TransactionNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrizeRecieved)
                </th>
                <th></th>
            </tr>
            @if (Model.Count() == 0)
            {
                <tr><td colspan="4" class="text-center">No Match Found</td></tr>
            }
            else
            {
                foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TransactionNumber)
                    </td>
                    @if (item.PrizeRecieved)
                    {
                        <td>
                            Recieved
                        </td>
                    }
                    else
                    {
                        if (item.PrizeID == 1)
                        {
                            <td>No Prize Chosen</td>
                        }
                        else
                        {
                            <td>
                                @Html.ActionLink("Claim", "RedeemPrize", new { id = item.TransactionID }, new { @class = "btn btn-warning" })
                            </td>                            
                        }

                    }
                    <td>
                        @Html.ActionLink("Edit", "CouponRegister", new { id = item.TransactionID }, new { @class = "btn btn-primary" })
                    </td>
                </tr>
                }
            }
        </table>
    </div>
</div>
